{{ define "_history.html" }}
<div class="flex flex-col gap-2 mt-6">
  {{ range .Transactions }}
  <div class="bg-white shadow-sm ring-1 ring-gray-900/5 rounded-lg p-3 flex flex-col gap-2">
    <div class="flex flex-wrap items-baseline gap-x-3 gap-y-1">
      <div class="font-medium">{{.Category.Name}}</div>
      <div class="text-sm text-gray-500">{{.Date}}</div>
      <div class="ml-auto font-medium">{{.Amount | fmtamount $.BudgetCurrency}}</div>
    </div>
    <div class="flex flex-wrap gap-x-3 gap-y-1 text-sm">
      <div class="text-gray-500">{{.Account.Name}}</div>
      {{ if .Comment }}
      <div class="text-gray-700">{{.Comment}}</div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
